    @import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Londrina+Sketch&display=swap');

    * {
        margin: 5px;
        padding: 5px;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: url("bg.jpg") center;
    }

    p {
        font-weight: bolder;
        font-size: 40px;
        font-family: "Doto", sans-serif;
        color: rgb(255, 38, 0);
        background: none;
    }

    .box {
        display: flex;
        margin: 10px;
        padding: 5px;
        border-radius: 15px;
        outline-offset: 5px;
        overflow: auto;
    }

    .mainbox {
        width: 250px;
        display: flex;
        margin: 10px;
        padding: 10px;
        border: 2px solid rgb(0, 247, 255);
        outline: 4px solid rgb(0, 162, 250);
        box-shadow: 5px 10px 10px rgb(20, 167, 172);
        border-radius: 5%;
        outline-offset: 5px;
        flex-wrap: wrap;
        background-image: none;
    }

    .box {
        border: 2px solid rgb(0, 247, 255);
        outline: 4px solid rgb(21, 178, 235);
        box-shadow: 5px 10px 10px rgb(20, 167, 172);
    }

    a {
        background: none;
    }

    img {
        background: none;
    }

    span {
        background: none;
    }

    @media only screen and (max-width: 500px) {
        * {
            margin: 5px;
            padding: 5px;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: url("bg.jpg") no-repeat center center;
            background-size: cover;
        }

        p {
            font-weight: bolder;
            font-size: 40px;
            font-family: "Doto", sans-serif;
            color: rgb(255, 38, 0);
            background: none;
        }
    }